[Unit]
Description=Weather HAT AS_ variable generator
After=multi-user.target

[Service]
EnvironmentFile=-/etc/myweather/influxdb.env
ExecStart=/usr/bin/python3 /home/pi/myweather/src/CGweather.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
